@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

body {
    font-family: "Montserrat", sans-serif;
    
}



.half-vh {
    height: 70vh;
}

.card:hover {
    transform: scale(1.03);
    transition: 0.3s ease;
}


.bg-danger {
    background-color: #329e86 !important;
}

.bg-success {
    background-color: #2f8f7a !important;
}
.bg-secondary {
    background-color: #8cc778 !important;
}
/*




*/